<a href="https://colab.research.google.com/github/Rajshahil572/advance-Python/blob/main/Copy_of_Welcome_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# slicing
#[starting point : ending_point : steps] n+1
str = "kunal bhai"
print(str[9:0:-3])
print(str[8:0:-2])

iba
abln

In [ ]:
#condition
#if else
#age = 20
if age >18:
  print("you can vote")
else:
  print("bade hokar karna ")


#if elif else
int=input("inter your age")
if age <=12:
  print("child")
elif age <=19:
  print("teen")
elif age <=35:
  print("young Adult")
else:
 print("adult")

you can vote
inter your age11
child

In [ ]:
mark =int(input("inter your mark = "))
if mark >=90:
  print("grade A")
elif mark >=80 and mark <90:
    print("grade B")
elif mark >=70 and mark <80:
      print("grade C")
elif mark >=60 and mark <70:
        print("grade D")
elif mark >=45 and mark <60:
          print("grade E")
else:
            print("fail")

inter your mark = 58
grade E

write a program to input the value if the value greater than 5 then print
wap to check weather a no. is divisable by 7 or not
tkinter
wap to display hello if a no. enter by the user is a multiple of 5 otherwise print bye

string and list in python are similar but string are immutable and list are mutable you can acsess the string but in list you can acess or change it also

In [ ]:
#list
#student = ["aman", 88.5, 45, "shahil"]
#print("student")


#mutation
#student = ["aman", 88.5, 45, "shahil"]
#student[1] ="khushi" # Corrected 'Student' to 'student'
#print(student)

list = [55,96,36,65,59]
list.sort()
print(list)

list.reverse()
print(list)

[96, 65, 59, 55, 36]
[36, 55, 59, 65, 96]

In [ ]:
list = ["aman","khushi","abhishek","shahil"]
list.append("aman")
print("list")

list = [55,56,57,58,59]
list.insert(2,"100")
print(list)

list = ["aman", "khushi", "abhishek", "shahil"]
list.remove("khushi")
print(list)

list = ["aman", "khushi", "abhishek", "shahil"]
list.pop(1)
print(list)

list
[55, 56, '100', 57, 58, 59]
['aman', 'abhishek', 'shahil']
['aman', 'abhishek', 'shahil']

In [ ]:
# tuples
tup = (85,45,63,75)
print(type(tup))
print(tup[1])

<class 'tuple'>

In [ ]:
tup = (55)
print(type(tup))

tup = ("55")
print(type(tup))

a = 55,65
print(type(a))

<class 'int'>
<class 'str'>
<class 'tuple'>

In [ ]:
# tuple method

tup = (5,9,6,4,3,4)
print(tup.index(3))

tup = (5,9,6,4,3,4)
print(tup.count(4))

4
2

wap to ask the user to inter name of there four fav moive and store them in a list

In [ ]:
favorite_movies = []

print("Please enter the names of your four favorite movies:")

movie_1 = input("Enter movie #1: ")
movie_2 = input("Enter movie #2: ")
movie_3 = input("Enter movie #3: ")
movie_4 = input("Enter movie #4: ")

favorite_movies.extend([movie_1, movie_2, movie_3, movie_4])

print(favorite_movies)

Please enter the names of your four favorite movies:

In [ ]:
list = (1,2,3,4,5)
if list == list[::-1]:
     print("The list is palindrome")
else:

      print("The list is not palindrome")

The list is not palindrome

In [ ]:
# dictionaries
dict = {"name : kunal", "age : 20"}
print(dict)

{'age : 20', 'name : kunal'}

In [ ]:
info = {
    "name" : "aman",
    "roll" : 45,
    "subject" :["ml","python","advance"],
    "topic" :["set", "dict"],
    "age" : 26
}
print(info)
print(info["name"])
print(info["roll"])
print(info["subject"])
print(info["topic"])

In [ ]:
# nested
student = {
    "name" : "kunal",
    "age" : 20,
    "subject" : { "physics":98,
                 "chemistry":99,
                 }
}
print(student)
print(["name"])
print(student["age"])
print(student["subject"]["physics"])

In [ ]:
info = {
    "name" : "aman",
    "roll" : 45,
    "subject" :["ml","python","advance"],
    "topic" :["set", "dict"],
    "age" : 26
}
print(info.keys())
print(info.values())
print(info.items())
print(info.get("name"))